
body {
    background:lightslategrey;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding:20px;
}

.assignment
{
    display:flex;
    padding:10px;
    font-size: small;
    font-weight:lighter;
    color:black;
    text-align:left;
    background:rgb(187, 193, 201);
    margin:10px;
    border-radius:5px;
}

.assignment img{
    width:400px;
    border:4px solid darkslateblue;
    margin:10px;
    border-radius:5px;
}

.assignment img:hover{
    border:4px solid lightgray;
}

.explanations{
display:flex;
font-size:small;
padding:20px;
font-weight:lighter;
margin:10px;
}


.assignment details{
    display:flexbox;
    font-size:medium;
    padding:30px;
}

h1 {
    font-size:xx-large;
    font-weight:bolder;
    color: black;
    text-align:center;
    padding:15px;
}

h2{
    display:flex;
    font-size:medium;
}

h3{
    display:flex;
    font-size:medium;
}

h4{
    display:flex;
    font-size:medium;
}

h5
{
    display:flex;
    font-size:medium;
}

h6
{
    display:flex;
    font-size:medium;
}

h7
{
    display:flex;
    font-size:medium;
}

h8
{
    display:flex;
    font-size:medium;
}
a{
    text-decoration:none;
    color:darkslateblue;
}
a:hover {
    color:white;
}