
body {
    background:gray;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding:20px;
}

.assignment
{
    display:flex;
    padding:10px;
    font-size: small;
    font-weight:lighter;
    color:black;
    text-align:left;
    background:lightgray;
    margin: 10px;
}

.assignment img{
    width:400px;
}

.explanations{
display:flex;
font-size:small;
padding:20px;
font-weight:lighter;
}


.assignment details{
    display:flexbox;
    font-size:medium;
    padding:30px;
}

h1 {
    font-size:xx-large;
    font-weight:bolder;
    color: black;
    text-align:center;
    padding:15px;
}

h2{
    display:flex;
    font-size:medium;
}

h3{
    display:flex;
    font-size:medium;
}

h4{
    display:flex;
    font-size:medium;
}

h5
{
    display:flex;
    font-size:medium;
}