/*P. Elena Maddox, CSCE 242*/

/*start of code copied from 04_js styles.css from in-class example*/

/* Structure */
:root {
    --main-background-color:#D9D2A3;
    --primary-color:#88DBBB;
    --columns-color:#DBD987;
    --circle-color: black;
    --donation-percent: 0%;
}

body {
    text-align:center;
    background:var(--main-background-color);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#content {
    background:white;
    width:90%;
    margin:auto;
    border-radius:5px;
    box-shadow: 10px 10px #DBC688;
}

header, footer {
    background:var(--primary-color);
    color:white;
    position:relative;
    padding:20px 0 10px;
}

header {
    padding-bottom:3px;
}

main {
    padding:5px;
}

.column{
    display:flex;
    flex-wrap:row;
    justify-content:center;
    gap:30px;
    min-width:200px;
    max-width:400px;
    margin:auto;
}

.column > div{
    padding:20px;
    text-align:center;
    flex:2;
}

.sunny-column, .color-column, .image-column{
    background:var(--columns-color);
}

.sub-section a {
    text-decoration:none;
    color:var(--primary-color);
    text-align:center;
}


img{
    width:200px;
    height:200px;
    cursor:pointer;
}

.hidden {
    display:none;
}


/* Typography */

p{
    color:white;
}
header h1 {
    text-align: center;
}

header h3 {
    text-align: center;
}

footer p {
    text-align:center;
}

.clicked{
    color:white;
}


.hidden-text {
    display: none;
    margin-top: 10px;
    padding: 10px;
}


.visible {
    display: block;
}
/* Medium screens */
@media only screen and (max-width: 700px) { 
   
    .column{
        flex-direction:column;
        gap:50px;
    }

    .hide-small {
        display:flex;
    }
}
