/*P. Elena Maddox, CSCE 242*/

/*Structures*/
:root {
    --primary-color:#d22631;    /*color of red in portuguese flag*/
    --secondary-color:#005d33;  /*color of green in portuguese flag*/
    --third-color:#fff81d;      /*color of yellow in portuguese flag*/
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

/* Header*/
.header {
  display:grid;
  align-items: center;
  position:relative;
}

.flag.green {
  background: var(--secondary-color); 
  height:90%;
}

.flag.red {
  background:var(--primary-color);
  height:90%;
}

.logo-circle {
  background: yellow;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.logo-circle h1 {
  text-align: center;
  color:black;
}


/* Navigation */
#main-nav {
  display:flex;
  justify-content:center;
  flex-wrap:wrap;
  gap:30px;
  padding:10px;
}

#main-nav a {
  text-decoration:none;
  color:white;
}

/* Welcome Section */
.welcome {
  display:flex;
  flex-direction:column;
  padding:20px;
  gap:20px;
}

.welcome h2 {
  color:var(--primary-color);
}

.reserve-btn {
  background: white;
}


.welcome-image img {
  width: 100%;
}

/* Social Media Section */
.social {
  padding: 20px;
}

.social h2 {
  color:var(--primary-color);
}

.social-content {
  display: flex;
  flex-direction: column;
}

.social-links {
  list-style: none;
}

.social-links li {
  display:flex;
  align-items:center;
  color:var(--secondary-color);
}

.social-images {
  display:flex;
  flex-direction:column;
}

.social-images img {
  width:100%;
  border-radius:5px;
}

.images{
    object-fit:cover;
}

/*larger screens changes*/
@media (min-width: 768px) {
  .welcome {
    flex-direction: row;
    justify-content: space-between;
    padding: 40px;
  }

  .welcome, .welcome-image {
    flex: 1;
  }

  .welcome-image {
    display: flex;
  }

  .welcome-image img {
    max-width: 90%;
  }

  /* Social section side by side */
  .social {
    padding:40px;
  }

  .social-content {
    flex-direction: row;
    gap:40px;
  }

  .social-links {
    flex: 1;
  }

  .social-images {
    flex:2;
    flex-direction:row;
  }

  .social-images img {
    max-width:300px;
  }
}