/*P. Elena Maddox, CSCE 242*/

/*start of code copied from 04_js styles.css from in-class example*/

/* Structure */
:root {
    --main-background-color:#D9D2A3;
    --primary-color:#88DBBB;
    --border-color:#DBD987;
    --circle-color: black;
}

body {
    text-align:center;
    background:var(--main-background-color);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#content {
    background:white;
    width:90%;
    margin:auto;
    border-radius:5px;
    box-shadow: 10px 10px #DBC688;
}

header, footer {
    background:var(--primary-color);
    color:white;
    position:relative;
    padding:20px 0 10px;
}

header {
    padding-bottom:3px;
}

main {
    padding:5px;
}


/* Typography */

p{
    color:white;
}
header h1 {
    text-align: center;
}

header h3 {
    text-align: center;
}

footer p {
    text-align:center;
}

/*images*/

.images{
    height:300px;
    width: 200px;
    max-width:100%;
    margin:5px;
}

#painting-list{
    padding:10px;
    display:flex;
    flex-direction:column;
    margin-left:auto;
    margin-right:auto;
}

.painting{
    margin-left:auto;
    margin-right:auto;
}

.framed{
    border: 5px solid black;
}

.w3-modal-content{
    width:360px;
    height:450px;
    padding:20px;
}



@media screen  and (min-width:768px){
    #painting-list{
        display:flex;
        flex-direction:row;
        margin-left:auto;
        margin-right:auto;
    }
}