/*P. Elena Maddox, CSCE 242*/

/*structures*/
body{
    background:white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;   
}
#content{
    margin:auto;
}

#main-header{
    background:black;
    background-size:cover;
    position:relative;
}

#main-header h1{
    display:flex;
    position:absolute;
    bottom:3%;
    right:3%
}

#main-header #flex-item{
    display:inline;
}
#main-header .columns{
    margin-right:auto;
}
#main-header #header-nav .images, .columns{
    display:inline;
}

/*typography*/

h1,h2,h3,h4{
    color:white;
    font-family:'Times New Roman', Times, serif;
}

h2{
    font-size:175%;
}
h4{
    font-size:65%;
}


#header-nav a{
    color:white;
    font-family:'Arial Narrow', Arial, sans-serif;

}

a{
    text-decoration:none;
}

/*navigations*/

nav ul{
    list-style-type:none;
    padding-left:0;
}

nav a{
    color:white;
    padding:10px 5px;
    display:block;
}

nav a:hover{
    background-color:#75000A;
    color:white;
}

/*widescreen devices*/
@media only screen and (min-width:500px){
    .columns{
        display:flex;
    }

    .one{
        flex:1;
    }

    .two{
        flex:2;
    }

    .three{
        flex:3;
    }

    .four{
        flex:4;
    }

    .five{
        flex:5;
    }

    /*navigation*/

    #header-nav li, #header-nav li:first-child{
        border:none;
    }

    #header-nav a{
        padding:5px;
        text-align:center;
    }

    .hide-small{
        display:block;
    }

    #header-nav a{
        display:inline;
    }

    #header-nav ul li:not(:last-child)::after{
        content:"|";
        color:white;
    }
}